/*Open Sans font*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", "Roboto", sans-serif;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	padding: 1rem 5rem 0 5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-x: hidden;
}

h1,
h2 {
	text-align: center;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 3.6rem;
	margin: 30px 0px; 
}

a {
	text-decoration: none;
}

p {
	line-height: 2.2rem;
	text-align: justify;
}

/* adicionar responsividade quando o texto do paragrafo estiver pronto*/

.topico {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 30px;
	font-size: 2.4rem;
	margin-bottom: 30px;
}

.topico-vertical {
	display: flex;
	width: 100%;
	overflow-x: auto;
	gap: 30px;
	font-size: 2.4rem;
	margin-bottom: 30px;
}

.img_texto {
	display: flex;
	gap: inherit;
	font-size: inherit;
}

@media screen and (max-width: 1132px) {
	.topico .img_texto {
		align-items: center;
		flex-direction: column;
	}
}

.img_texto_vertical {
	display: flex;
	flex-flow: column;
	max-width: 360px;
	gap: inherit;
	font-size: inherit;
}

.imagem-grande {
	width: 360px;
	height: 220px;
	aspect-ratio: 360/220;
}

.imagem-pequena {
	width: 286px;
	height: 175px;
	aspect-ratio: 286/175;
}

.timeline {
	width: 100%;
}

.timeline-itens {
	display: flex;
	justify-content: center;
	gap: 15px;
	font-size: 3.6rem;
	margin-bottom: 45px; /* espaçamento padrão + text_underline_offset*/
}

.timeline-itens span {
	cursor: pointer;
	transition: ease-in-out .5s;
}

.timeline-itens span:hover {
	color: #ff0606;
}

.timeline-itens .selected {
	color: #ff0606;
	text-decoration: underline;
	text-underline-offset: 15px;
}

@keyframes timeline-content-animation {
	0% {
		transform: translateX(110%);
		color: rgba(0, 0, 0, 0)
	}
	60% {
		transform: translateX(0);
		color: rgba(0, 0, 0, 0)
	}
	100% {
		transform: translateX(0);
	}
}

.timeline-content {
	display: none;
	animation: timeline-content-animation 1.5s ease-in-out forwards;
} 

.timeline-content.selected {
	display: block;
	transform: translateX(0);
	transition: ease-in-out .8s
}

.card-grid {
	display: grid;
	grid-template-columns: min-content min-content min-content;
	justify-content: center;
	gap: 45px;
}

.card {
	border: 2px solid #aaa;
	border-radius: 10px;
	font-size: inherit;
	max-width: max-content;
}

.card > img {
	width: 286px;
	height: 175px;
	aspect-ratio: 286/175;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.card > .content {
	font-size: inherit;
	padding: 5px;
}

.card > .content .card-title {
	font-weight: 700;
	font-size: 1.8rem;
}

@media screen and (max-width: 1070px) {
	.card-grid {
		grid-template-columns: min-content min-content;
	}
}

@media screen and (max-width: 740px) {
	.card-grid {
		grid-template-columns: min-content;
	}
}
